.notificationText {
    color: #3b763d;
}

.notificationContainer {
    background-color: #dff0d8;
    border-radius: 25px;
    padding: 10px;
    display: inline-block;
    visibility: hidden;
}

.notificationFontIcon {
    vertical-align: middle;
    color: #bfd8b9;
}