.notificationText {
    color: #3b763d;
}

.notificationContainer {
    position: relative;
    bottom: -45px;
    padding: 15px;
    background-color: #dff0d8;
    border-radius: 25px;
    display: none;
}

.fontIcon {
    vertical-align: middle;
    color: #bfd8b9;
}