button {
    height: 110px;
    width: 190px;
    border: 0;
    position: relative;
    border-radius: 8px;
}

button:hover {
    filter: brightness(92%);
    cursor: pointer;
}

button > div {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: white;
}