@import "../../breakpoints.scss";

.tileElement {
  margin: 4px 6px;
}

button {
  height: 90px;
  width: 150px;
  border: 0;
  position: relative;
  border-radius: 8px;

  @include sm {
    height: 110px;
    width: 190px;
  }
}

.starIcon {
  color: #ffffff;
  opacity: 0;
  position: absolute;
  top: 9px;
  right: 8px;
}

.starIcon:hover {
  color: #f1db11;
}

.starIconFavorited {
  color: #f1db11;
  opacity: 1;
}

.starIconFavorited:hover {
  color: #d45535;
  opacity: 1;
}

button:hover {
  filter: brightness(92%);
  cursor: pointer;
  .starIcon {
    opacity: 1;
  }
}

.buttonText {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
}
