button {
    height: 100px;
    width: 170px;
    border: 0;
    opacity: 0.8;
    position: relative;
    border-radius: 8px;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

button > div {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: white;
}