@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

button {
    height: 100px;
    width: 170px;
    border: 0;
    opacity: 0.8;
    position: relative;
    border-radius: 5px;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

button > div {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: white;
}