@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.pageBody {
  padding-top: 15px;
  padding-right: 20%;
  padding-left: 20%;
}

.textMain, .textSub {
  text-align: center;
  font-weight: 300;
  color: #333333;
}

.textContainer {
  margin-bottom: 15px;
  /* border: 5px solid #1C6EA4; */
  border-radius: 13px;
  padding: 15px;
}

body {
  background-color: white;
}