@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.pageBody {
  padding-top: 15px;
  padding-right: 15%;
  padding-left: 15%;
}

.textMain, .textSub {
  text-align: center;
  font-weight: 300;
  color: #333333;
}

.textContainer {
  padding-bottom: 5px;
}